* {
    font-family: Helvetica, Arial, sans-serif;
  }
   
   
  h1 {
    color: seagreen;
  }
   
   
  p{
    font-size: 18px;
  }
  
  li {
    font-size: 18px;
    font-weight: bold;
  }
   
   
  a {
    text-decoration: none;
  }