* {
    font-family: Helvetica, Arial, sans-serif;
  }
   
   
  h1 {
    color: SeaGreen;
  }
   
   
  p, 
  li {
    font-size: 18px;
    font-weight: bold;
  }
   
   
  a {
    text-decoration: none;
  }